<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>cyproj</display-name>
	<welcome-file-list>

		<welcome-file>jump.jsp</welcome-file>

	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/jump.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/jump.jsp</location>
	</error-page>
	<servlet>
		<servlet-name>StartCaptchaServlet</servlet-name>
		<servlet-class>com.cyporj.until.StartCaptchaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerifyLoginServlet</servlet-name>
		<servlet-class>com.cyporj.until.VerifyLoginServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>VerifyLoginServlet</servlet-name>
		<url-pattern>/pc-geetest/validate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StartCaptchaServlet</servlet-name>
		<url-pattern>/pc-geetest/register</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
</web-app>